{{ define "main" }}
  <div class = 'wrap pt-1 post grid-inverse'>
    <article class = 'blog__posts mt-1 mb-2'>
      <div class = 'editor'>
        <strong><time>{{ dateFormat "02. January 2006" .Date }}</time></strong>
        <h1>{{ .Title }}</h1>
        {{ partial "share.html" . }}
      </div>
      <div class = 'post_body mb-2'>
        <div class = 'post_inner'>
          <img src = '/images/{{ .Params.image.name }}' alt = '{{ .Params.image.description }}' class = 'blog__thumb'>
          {{ .Content }}
          
          {{- partial "author" . }}

          {{ partial "share.html" . }}
          <hr>
          {{ partial "pagePager" . }}
        </div>
      </div>
    </article>
    {{ partial "sidebar" . }}
  </div>
{{ end }}
