<footer class = 'footer'>
  <div class = 'wrap'>
    <div class = 'grid-2'>
      <div class = 'flex_column'>
        <p>Copyright © <span class = 'year'></span> &nbsp;{{ .Site.Title }}. All Rights Reserved.</p>
      </div>
      <div class = 'contact' id = 'contact'>
        <a href = 'mailto:{{ .Site.Params.email }}' title = '{{ .Site.Params.email }}' class = 'btn'>Email Us</a>
      </div>
    </div>
  </div>
  <script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="5dc15aa6-e7b3-4c4c-a416-33a596ff847f";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
</footer>
