<form class = 'form' data-action = 'BlFoLfDWI3uW' method = 'POST' accept-charset = 'UTF-8' id="register">
  <label class = 'form_label' for = 'name'>Name</label>
  <input type = 'text' class = 'mb-1 form_input'  id = 'name' name = 'Name' placeholder = 'Full Name' required>
  <label class = 'form_label' for = 'phone'>Phone Number</label>
  <input type = 'tell' class = 'form_input mb-1' id = 'phone' name = 'Phone Number' placeholder = 'Phone Number' required>
  <label class = 'form_label' for = 'email'>Email Address</label>
  <input type = 'email' class = 'form_input mb-1' id = 'email' name = 'Email' placeholder = 'you@awesome.com' required>
  <label class = 'form_label' for = 'address'>Physical Address</label>
  <input type = 'text' class = 'form_input mb-1' id = 'address' name = 'Physical Address' placeholder = 'Physical Address' required>
  <div>
    <button  class = 'btn' type = 'submit' id = 'submit'>Submit</button>
  </div>
</form>
